In [1]:
import pandas as pd
import numpy as np

In [180]:
df = pd.DataFrame({"Name":["Naresh","Kumar","Sulo","Geetha","narendra","Suma","Radha","Subbu","Narasimha","Bujji"], "Gender":["Male","Female","Female","Male","Female","Female","Female","Male","Male","Male"]})
print(df)

        Name  Gender
0     Naresh    Male
1      Kumar  Female
2       Sulo  Female
3     Geetha    Male
4   narendra  Female
5       Suma  Female
6      Radha  Female
7      Subbu    Male
8  Narasimha    Male
9      Bujji    Male

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Gender  10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [182]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [183]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [50]:
df["gender"] = le.fit_transform(df["Gender"])
df

        Name  Gender  gender
0     Naresh    Male       1
1      Kumar  Female       0
2       Sulo  Female       0
3     Geetha    Male       1
4   narendra  Female       0
5       Suma  Female       0
6      Radha  Female       0
7      Subbu    Male       1
8  Narasimha    Male       1
9      Bujji    Male       1

In [64]:
df.shape[0]

10

In [100]:
for i in range(df.shape[1]):
    print(str(int(i)))

0
1
2

In [184]:
ad = ohe.fit_transform(df["Gender"].values.reshape(-1,1)).toarray()
g = pd.DataFrame(X, columns = ["Female","Male"])
#df = pd.concat([df, g], axis = 1)
df.shape
#df.drop("gender")

(10, 2)

In [185]:
df = pd.concat([df,g],axis = 1)

In [186]:
df.shape

(10, 4)

In [187]:
df.head()

       Name  Gender  Female  Male
0    Naresh    Male     0.0   1.0
1     Kumar  Female     1.0   0.0
2      Sulo  Female     1.0   0.0
3    Geetha    Male     0.0   1.0
4  narendra  Female     1.0   0.0

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Gender  10 non-null     object
 2   Female  10 non-null     float64
 3   Male    10 non-null     float64
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [191]:
df[["Female","Male"]] = df[["Female","Male"]].astype("int64")
df

        Name  Gender  Female  Male
0     Naresh    Male       0     1
1      Kumar  Female       1     0
2       Sulo  Female       1     0
3     Geetha    Male       0     1
4   narendra  Female       1     0
5       Suma  Female       1     0
6      Radha  Female       1     0
7      Subbu    Male       0     1
8  Narasimha    Male       0     1
9      Bujji    Male       0     1

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Gender  10 non-null     object
 2   Female  10 non-null     int64
 3   Male    10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [194]:
df.columns

Index(['Name', 'Gender', 'Female', 'Male'], dtype='object')

In [199]:
import statsmodels.api as sm

In [203]:
def m_vif(v):
    vif_df = pd.DataFrame(columns = ["var","vif"])
    var_name_x = v.columns
    for i in range(0, var_name_x.shape[0]):
        y = v[var_name_x[i]]
        x = v[var_name_x.drop([var_name_x[i]])]
        r_squared = sm.OLS(y,x).fit().rsquared
        vif = round(1/(1-r_squared),2)
        vif_df.loc[i] = [var_name_x[i], vif]
    return vif_df.sort_values(by = 'Vif', axis = 0, ascending=False, inplace=False)

In [206]:
df.drop("Name",axis = 1)

   Gender  Female  Male
0    Male       0     1
1  Female       1     0
2  Female       1     0
3    Male       0     1
4  Female       1     0
5  Female       1     0
6  Female       1     0
7    Male       0     1
8    Male       0     1
9    Male       0     1

In [207]:
m_vif(df)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).